[project]
	description = a boids application implemented in js/webgl using THREE js (and other stuff) - a work in progress
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/christofferstridh
[access "refs/for/refs/*"]
	read = group user/christofferstridh
	push = group user/christofferstridh
	label-Code-Review = -2..+2 group user/christofferstridh
	label-Verified = -1..+1 group user/christofferstridh
	rebase = group user/christofferstridh
	removeReviewer = group user/christofferstridh
	submit = group user/christofferstridh
[access "refs/heads/*"]
	read = group user/christofferstridh
	create = group user/christofferstridh
	push = +force group user/christofferstridh
	pushMerge = group user/christofferstridh
[access "refs/tags/*"]
	push = +force group user/christofferstridh
	pushTag = group user/christofferstridh
	pushSignedTag = group user/christofferstridh
